{% extends "base.html" %}

{% block content %}

    <script type="text/javascript">

		    function set_openid(openid, provider) {
			    u = openid.search('<username>');
			    if (u != -1) {
				    // open required username
				    user = prompt('Enter you ' + provider + ' username:');
				    openid = openid.substr(0, u) + user;
			    }

			    form = document.forms['login'];
			    form.elements['openid'].value = openid;
		    }

    </script>

    <h1>Sign in</h1>

    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}

        <p>
            Please enter your openid: <br />
            {{ form.openid(size=80)}}

            {% for error in form.openid.errors %}
                <span style="color:red">[{{ error }}]</span>
            {% endfor %} <br />

            {% for provider in providers %}
                <a href="javascript:set_openid('{{ provider.url }}', '{{ provider.name }}');">{{ provider.name }}</a>
            {% endfor %}
        </p>
        <p>
            {{ form.remember_me}} Remember me
        </p>
        <p>
            <input type="submit" value="Sign in"/>
        </p>

    </form>

{% endblock %}